.imagefolio{
    width: 29%;
    margin: 1rem;
    background-color: #fff;
    transition: all ease .8s;
}

.imagefolio img{
    width: 100%;
}

.imagefolio:hover{
    transform: scale(1.1);
    transition: all ease .4s;
    cursor: pointer;
}

.listfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 90%;
    width: 80%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}

.container h2{
    font-size: 40px;
    font-weight: 300;
    margin: 5rem 0;
}

@media (max-width: 769px) {
    .imagefolio{
        width: 44%;
    }
}

@media (max-width: 426px) {
    .imagefolio{
        width: 70%;
    }
}